<%- include('../userLayouts/header.ejs') %>

  <header class="header header-5" style="background-color: #0c0c0c96 !important;margin-top: 0 !important;">
    <div class="header-middle sticky-header">
      <div class="container-fluid">
        <div class="header-left">
          <button class="mobile-menu-toggler">
            <span class="sr-only">Toggle mobile menu</span>
            <i class="icon-bars"></i>
          </button>
          <a href="index.html" class="logo">
            <img src="/userAssets/images/demos/demo-5/logo 2.png" alt="Molla Logo" width="45" height="25">
          </a>
          <nav class="main-nav">
            <ul class="menu sf-arrows">
              <li class="megamenu-container active">
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/product">Shop</a>
              </li>
            </ul><!-- End .menu -->
          </nav><!-- End .main-nav -->
        </div><!-- End .header-left -->
      </div><!-- End .container-fluid -->
    </div><!-- End .header-middle -->
  </header><!-- End .header -->


  <main class="main">
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
      style="background-image: url('/userAssets/images/demos/demo-5/3.jpg')">
      <div class="container">
        <div class="form-box">
          <div class="form-tab">
            <ul class="nav nav-pills nav-fill" role="tablist">
              <li class="nav-item">
                <a class="nav-link text-light" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab"
                  aria-controls="signin-2" aria-selected="false">Sign In</a>
              </li>

            </ul>
            <div class="tab-content">

              <form action="/login" method="post">
                <div class="form-group pt-5">
                  <label for="singin-email-2 " class="text-light">Email Address *</label>
                  <input type="email" class="form-control" id="singin-email-2" name="email">
                </div><!-- End .form-group -->

                <div class="form-group">
                  <label for="singin-password-2" class="text-light">Password *</label>
                  <input type="password" class="form-control" id="singin-password-2" name="password">
                </div><!-- End .form-group -->

                <div class="form-footer">
                  <button type="submit" class="btn btn-outline-primary-2">
                    <span>LOG IN</span>
                    <i class="icon-long-arrow-right"></i>
                  </button>

                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="signin-remember-2">

                  </div><!-- End .custom-checkbox -->

                </div><!-- End .form-footer -->
                <% if(typeof message !=='undefined' ){ %>
                  <div class="alert alert-danger" role="alert">
                    <%= message %>
                  </div>

                  <% } %>
              </form>
              <div class="form-choice">
                <p class="text-center">Don't have anccount ? <a class="text-white" href="/register">Sign Up</a></p>
              </div><!-- End .form-choice -->
            </div><!-- .End .tab-pane -->
          </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->
      </div><!-- End .form-tab -->
    </div><!-- End .form-box -->
  </main><!-- End .main -->
<%- include('../userLayouts/footer.ejs') %>